<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet" type="text/css">
</head>
<body>
	<aside class="nav">
		<% include partials/aside %>
	</aside>
	<button id="nav-open" class="diamond toggle"></button>
	<main>
		<section class="content">
			<header class="breadcrumbs">
				<%if (locals.parentPages) { %>
					<% parentPages.forEach(function(parentPage) { %>
						<a href="<%= parentPage.href %>">
							<%= parentPage.title %>
						</a>
						<span> / </span>
					<% }); %>
				<% } %>
				<h1><%= pageTitle %></h1>
			</header>
			<%- body %>
		</section>
		<footer>
			&copy; Harvey Williams <%= year() %>
		</footer>
	</main>
	<aside class="right"></aside>
	<script src="/Js/script.js"></script>
</body>
</html>

