<% include partials/filter %>
<% postsByYear.forEach(group => { %>
    <h2><%= group.year %></h2>
    <% group.posts.forEach(post => { %>
        <a href="/blog/<%= post.href %>" class="post-preview">
            <h2><%= post.title %></h2>
            <p>
                <%= post.summary %>
            </p>
            <div class="meta">
                <span class="meta-detail">Posted:</span> <%= helpers.friendlyDate(post.postDate) %>
            </div>
        </a>
    <% }); %>
<% }); %>
