<article class="box">
	<%- bodyText %>
</article>
<nav class="box post-nav">
	<a href="<%= prevPost.href %>" class="nav-item prev-post">
		<span><%= prevPost.title %></span>
	</div>
	<a href="<%= nextPost.href %>" class="nav-item next-post">
		<span><%= nextPost.title %></span>
	</a>
</nav>
<% include partials/disqus %>
