<article class="box">
    <% for (var i = 0; i < songs.length; i++) { %>
        <h2><%= songs[i].name %> by <%= songs[i].artist %></h2>
        <small>Added <%= helpers.friendlyDate(songs[i].date) %></small>
        <br />
        <a class="youtube-video" href="https://www.youtube.com/embed/<%= songs[i].id %>" target="_blank" style="background-image:url('https://img.youtube.com/vi/<%= songs[i].id %>/maxresdefault.jpg')">
            <div class="icon-play youtube-video-play"></div>
        </a>
    <% } %>
</article>

